header {
  font-family: sans-serif;
  text-align: center;

}

.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.color1 {
  background-color: black;
}

.color2 {
  background-color: #8c7404;
}

.color3 {
  background-color: #fc9c3c;
}

.color4 {
  background-color: #dc2c04;
}