#title {
  font-family: sans-serif;
  text-align: center;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

#button-random-color {
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 210px;
  height: 210px;
  cursor: pointer;
  border: 1px solid black;
}
