header {
  font-family: sans-serif;
  text-align: center;
}

.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: #8c7404;
}

#color3 {
  background-color: #fc9c3c;
}

#color4 {
  background-color: #dc2c04;
}

button {
  width: 80px;
  height: 40px;
}
