header {
  font-family: sans-serif;
  text-align: center;
}

#color-palette {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}

#button-random-color {
  width: 100px;
  height: 50px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}

#pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}
