#title {
  font-family: sans-serif;
  text-align: center;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: blue;
}

#color3 {
  background-color: green;
}

#color4 {
  background-color: red;
}

#button-random-color {
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 10px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
